general {
    colors = true
    interval = 5
}

order += "cpu_usage"
order += "memory"
order += "disk /"
order += "volume master"
order += "battery all"
order += "tztime local"

cpu_usage {
    format = "CPU %usage"
}

memory {
    format = "RAM %used"
}

disk "/" {
    format = "DISK %avail"
}

volume master {
    format = "VOL %volume"
}

battery all {
    format = "BAT %status %percentage"
}

tztime local {
    format = "%Y-%m-%d %H:%M"
}
